<!DOCTYPE html>
<html lang="en" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{store-layout}">

<head>
    <title>Ecomm - Order</title>
</head>

<body>
    <main layout:fragment="body">
        <!-- Header-->
        <div class="container-fluid px-4">
            
            <h1 class="my-4"> Store Orders</h1>
            <div class="container card mb-4">
                <div class="card-header row">
                    <small class="col text-center"><a class="text-dark text-decoration-none" th:href="@{/store/order}">All</a></small>
                    <small class="col text-center"><a class="text-dark text-decoration-none" th:href="@{/order/confirm}">Pending Confirmation</a></small>
                    <small class="col text-center"><a class="text-dark text-decoration-none" th:href="@{/order/pickup}">Pending Pickup</a></small>
                    <small class="col text-center"><a class="text-dark text-decoration-none" th:href="@{/order/transit}">In Transit</a></small>
                    <small class="col text-center"><a class="text-dark text-decoration-none" th:href="@{/order/deliver}">Delivered</a></small>
                    <small class="col text-center"><a class="text-dark text-decoration-none" th:href="@{/order/return}">Return Initiated</a></small>
                    <small class="col text-center"><a class="text-dark text-decoration-none" th:href="@{/order/cancel}">Order Cancelled</a></small>
                </div>
                <div class="card-body">
                    <div class="datatable-wrapper datatable-loading no-footer sortable searchable fixed-columns">
                        <div class="datatable-container">
                            <table id="datatablesSimple" class="datatable-table">
                                <thead>
                                    <tr>
                                        <th data-sortable="true" style="width: 25%;"><a href="#"
                                                class="datatable-sorter">Product</a></th>
                                        <th data-sortable="true" style="width: 10%;"><a href="#"
                                                class="datatable-sorter text-center">SKU</a></th>
                                        <th data-sortable="true" style="width: 8%;"><a href="#"
                                                class="datatable-sorter text-center">Quantity</a></th>
                                        <th data-sortable="true" style="width: 14%;"><a href="#"
                                                class="datatable-sorter text-center">Delivery method</a></th>
                                        <th data-sortable="true" style="width: 12%;"><a href="#"
                                                class="datatable-sorter text-center">Status</a></th>
                                        <th data-sortable="true" style="width: 15%;"><a href="#"
                                                class="datatable-sorter text-center">Lastest modified</a></th>
                                        <th data-sortable="true" style="width: 8%;"><a href="#"
                                                class="datatable-sorter text-center">Handling</a></th>

                                    </tr>
                                </thead>
                                <tbody>
                                    <tr th:each="oi:${orderItems}" data-index="0">
                                        <td th:text="${oi.product.name}"></td>
                                        <td class="text-center" th:text="${oi.product.sku}"></td>
                                        <td class="text-center" th:text="${oi.quantity}"></td>
                                        <td class="text-center" th:text="${oi.deliveryMethod}"></td>
                                        <td th:text="${oi.condition}"></td>
                                        <td th:text="${#temporals.format(oi.modifiedAt, 'yyyy-MM-dd HH:mm:ss')}"></td>
                                        <td class="text-center"><a
                                                class="text-dark"></a></td>
                                    </tr>

                                </tbody>
                            </table>
                        </div>
                        
                    </div>
                </div>
            </div>
        </div>
    </main>
</body>

</html>