<!DOCTYPE html>
<html lang="en" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{shopping-layout}">

<head>
    <title>Product - View</title>
    <!-- CDN JQuery -->
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"
        integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
</head>

<body>
    <!-- Product section-->
    <section layout:fragment="body">
        <section class="py-5">
            <div class="container px-4 px-lg-5 my-5">
                <div class="row gx-4 gx-lg-5 align-items-center" th:object="${product}">
                    <div class="col-md-6">
                        <img class="card-img-top mb-5 mb-md-0" style="max-height: 700px; object-fit: contain;"
                            th:src="*{image}" alt="..." />
                    </div>
                    <div class="col-md-6">
                        <small class="mb-3 me-2"><a class="text-dark" th:href="@{/}" th:text="*{category.first.name}"></a></small><small> / </small>
                        <small class="mb-3 ms-2"><a class="text-dark" th:href="@{/}" th:text="*{category.second.name}"></a></small><br>
                        <div class="small mb-1" th:text="'SKU: ' + *{sku}"></div>
                        <h1 class="display-6 fw-bolder" th:text="*{name}"></h1>
                        <small>by: </small>
                        <a class="fs-3 mx-4 my-2 text-dark text-decoration-none" th:href="@{/store/view}"
                            th:text="${product.store.name}"></a>
                        <div class="fs-5 my-2">
                            <div th:if="*{discount} != null">
                                <span class="text-decoration-line-through" th:text="'US $' + *{price}"></span>
                                <span th:text="'US $' + ${product.price * (1-product.discount.disc/100)}"></span>
                            </div>
                            <span th:if="*{discount} == null" th:text="'US $' + *{price}"></span><br>
                            <small th:if="*{quantity} > 0">In Stock</small>
                            <small th:if="*{quantity} == 0">Out of Stock</small>
                        </div>
                        <p class="lead fs-6" th:text="*{desc}"></p>
                        <div class="d-flex mt-3">
                            <input id="productId" type="hidden" th:value="*{id}" name="pid">
                            <button class="btn px-2" onclick="minusQty(document.getElementById('quantity'))">
                                <i class="fas fa-minus"></i>
                            </button>
                            <input id="quantity" min="1" class="form-control text-center" type="num" value="1"
                                style="max-width: 3rem" name="qty" />
                            <button class="btn px-2" onclick="plusQty(document.getElementById('quantity'))">
                                <i class="fas fa-plus"></i>
                            </button>
                            <button type="submit" class="btn btn-outline-dark flex-shrink-0 ms-5" id="buttonAdd2Cart">
                                Add to cart
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- Related items section-->
        <section class="py-5 bg-light">
            <div class="container px-4 px-lg-5 mt-5">
                <h2 class="fw-bolder mb-4">Related products</h2>
                <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">
                    <div class="col mb-5">
                        <div class="card h-100">
                            <!-- Product image-->
                            <img class="card-img-top" src="https://dummyimage.com/450x300/dee2e6/6c757d.jpg"
                                alt="..." />
                            <!-- Product details-->
                            <div class="card-body p-4">
                                <div class="text-center">
                                    <!-- Product name-->
                                    <h5 class="fw-bolder">Fancy Product</h5>
                                    <!-- Product price-->
                                    $40.00 - $80.00
                                </div>
                            </div>
                            <!-- Product actions-->
                            <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                                <div class="text-center"><a class="btn btn-outline-dark mt-auto" href="#">View
                                        options</a></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </section>
</body>



</html>