<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title>Shop Homepage - Start Bootstrap Template</title>
    <!-- Favicon-->
    <link rel="icon" type="image/x-icon" href="assets/favicon.ico" />
    <!-- Bootstrap icons-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css" rel="stylesheet" />
    <!-- Core theme CSS (includes Bootstrap)-->
    <link th:href="@{/css/styles_1.css}" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" />

</head>

<body class="d-flex flex-column min-vh-100">
    <!-- Navigation-->
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container px-4 px-lg-5">
            <a class="navbar-brand" th:href="@{/home}">Ecomm</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0 ms-lg-4">
                    <li class="nav-item"><a class="nav-link" aria-current="page" th:href="@{/home}">Popular Items</a>
                    </li>
                    <li class="nav-item"><a class="nav-link" aria-current="page" th:href="@{/newreleases}">New Releases</a>
                    </li>
                    <li sec:authorize="isAuthenticated()" class="nav-item">
                        <a sec:authorize="hasAuthority('SELLER')" class="nav-link" aria-current="page"
                            th:href="@{/store/order}">Store</a>
                        <a sec:authorize="!hasAuthority('SELLER')" class="nav-link" aria-current="page"
                            th:href="@{/store/register}">Store Registration</a>
                    </li>
                </ul>
                <ul class="navbar-nav mb-2 mb-lg-0 ms-lg-4">
                    <li class="nav-item">
                        <a sec:authorize="isAuthenticated()" class="d-flex text-decoration-none" th:href="@{/cart}">
                            <button class="btn btn-outline-dark">
                                <div class="bi-cart-fill me-1">Cart</div>
                            </button>
                        </a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" id="navbarDropdown" href="#" role="button"
                            data-bs-toggle="dropdown" aria-expanded="true"></a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <li sec:authorize="isAuthenticated()"><a class="dropdown-item" th:href="@{/user/profile}">My
                                    Account</a></li>
                            <li sec:authorize="isAuthenticated()"><a class="dropdown-item"
                                    th:href="@{/user/purchase}">My Purchase</a></li>

                            <li sec:authorize="isAuthenticated()">
                                <hr class="dropdown-divider" />
                            </li>
                            <li sec:authorize="!isAuthenticated()"><a class="dropdown-item" th:href="@{/login}">Log
                                    in</a>
                            </li>
                            <li sec:authorize="!isAuthenticated()"><a class="dropdown-item"
                                    th:href="@{/register}">Register</a></li>
                            <li sec:authorize="isAuthenticated()"><a class="dropdown-item"
                                    th:href="@{/logout}">Logout</a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <section layout:fragment="body"></section>

    <!-- Footer-->
    <footer class="py-5 bg-dark mt-auto">
        <div class="container px-5">
            <p class="m-0 text-center text-white">Copyright &copy; Your Website 2023</p>
        </div>
    </footer>
</body>
<!-- Bootstrap core JS-->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
<script src="https://code.jquery.com/jquery-3.7.1.min.js"
    integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
<script src="https://use.fontawesome.com/releases/v6.3.0/js/all.js" crossorigin="anonymous"></script>
<script th:src="@{/js/cart.js}"></script>
<script th:src="@{/js/pay.js}"></script>

</html>