<!DOCTYPE html>
<html lang="en" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{store-layout}">

<head>
    <title>Store - Order</title>
</head>

<body>
    <main layout:fragment="body">
        <!-- Header-->

        <!-- The Modal -->
        <div class="modal" id="myModal">
            <div class="modal-dialog">
                <div class="modal-content">

                    <!-- Modal Header -->
                    <div class="modal-header">
                        <h4 class="modal-title">Prepare Order</h4>
                        <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                    </div>

                    <!-- Modal body -->
                    <div class="modal-body">
                        <div class="container-fluid">
                            <div class="login-form">
                                <form>
                                    <div class="form-group">
                                        <label>Delivery Provider</label>
                                        <div class="input-group">
                                            <select class="form-select" id="dpid">
                                                <option selected="selected" value="">Choose..</option>
                                                <option th:each="dp : ${deliveryProviders}" th:value="${dp.id}"
                                                    th:text="${dp.name}"></option>
                                            </select>
                                        </div>
                                    </div>
                                    <button type="button" class="btn btn-light mt-4"
                                        data-bs-dismiss="modal">Cancel</button>
                                    <button type="submit" class="btn btn-secondary mt-4" id="prepare">Submit</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <div class="container-fluid px-4">
            <h1 class="my-4"> Store Orders</h1>
            <div class="container card mb-4">
                <div class="card-header row">
                    <small class="col text-center"><a class="text-dark text-decoration-none"
                            th:href="@{/store/order}">All</a></small>
                    <small class="col text-center"><a class="text-dark text-decoration-none"
                            th:href="@{/order/confirm}">Pending Confirmation</a></small>
                    <small class="col text-center"><a class="text-dark text-decoration-none"
                            th:href="@{/order/pickup}">Pending Pickup</a></small>
                    <small class="col text-center"><a class="text-dark text-decoration-none"
                            th:href="@{/order/transit}">In Transit</a></small>
                    <small class="col text-center"><a class="text-dark text-decoration-none"
                            th:href="@{/order/deliver}">Delivered</a></small>
                    <small class="col text-center"><a class="text-dark text-decoration-none"
                            th:href="@{/order/return}">Return Initiated</a></small>
                    <small class="col text-center"><a class="text-dark text-decoration-none"
                            th:href="@{/order/cancel}">Order Cancelled</a></small>
                </div>
                <div class="card-body">
                    <div class="datatable-wrapper datatable-loading no-footer sortable searchable fixed-columns">

                        <div class="datatable-container">
                            <table id="datatablesSimple" class="datatable-table">
                                <thead>
                                    <tr>
                                        <th data-sortable="true" style="width: 25%;"><a href="#"
                                                class="datatable-sorter">Product</a></th>
                                        <th data-sortable="true" style="width: 10%;"><a href="#"
                                                class="datatable-sorter text-center">SKU</a></th>
                                        <th data-sortable="true" style="width: 8%;"><a href="#"
                                                class="datatable-sorter text-center">Quantity</a></th>
                                        <th data-sortable="true" style="width: 14%;"><a href="#"
                                                class="datatable-sorter text-center">Delivery method</a></th>
                                        <th data-sortable="true" style="width: 12%;"><a href="#"
                                                class="datatable-sorter text-center">Status</a></th>
                                        <th data-sortable="true" style="width: 15%;"><a href="#"
                                                class="datatable-sorter text-center">Lastest modified</a></th>
                                        <th data-sortable="true" style="width: 8%;"><a href="#"
                                                class="datatable-sorter text-center" data-bs-toggle="modal"
                                                data-bs-target="#myModal">Handling</a></th>

                                    </tr>
                                </thead>
                                <tbody>
                                    <tr class="item-row" th:each="oi:${orderItems}">
                                        <td th:text="${oi.product.name}"></td>
                                        <td class="text-center" th:text="${oi.product.sku}"></td>
                                        <td class="text-center" th:text="${oi.quantity}"></td>
                                        <td class="text-center" th:text="${oi.deliveryMethod}"></td>
                                        <td th:text="${oi.condition}"></td>
                                        <td th:text="${#temporals.format(oi.modifiedAt, 'yyyy-MM-dd HH:mm:ss')}"></td>
                                        <td class="text-center" th:if="${oi.condition} == 'Pending Pickup'"><button
                                                class="btn btn-sm btn-secondary handle" data-bs-toggle="modal"
                                                data-bs-target="#myModal" th:data-oiid="${oi.id}">
                                                Prepare</button></td>
                                        <td class="text-center" th:if="${oi.condition} == 'Completed Setup'"><button
                                                class="btn btn-sm btn-secondary">
                                                Prepared</button></td>

                                        <td class="text-center"
                                            th:if="${oi.condition != 'Pending Pickup' &&  oi.condition != 'Completed Setup'}">
                                            <a class="text-dark"></a>
                                        </td>

                                    </tr>

                                </tbody>
                            </table>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </main>
</body>

</html>