<!DOCTYPE html>
<html lang="en" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{store-layout}">

<head>
    <title>Store - Product</title>
</head>

<body>
    <main layout:fragment="body">
        <!-- Header-->
        <!-- Model Address -->
        <div class="modal" id="myModalDiscount">
            <div class="modal-dialog modal-dialog-scrollable">
                <div class="modal-content">

                    <!-- Modal Header -->
                    <div class="modal-header">
                        <h4 class="modal-title">Active Discounts</h4>
                        <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                    </div>

                    <!-- Modal body -->
                    <div class="modal-body">
                        <div class="container-fluid">
                            <div class="list-group" th:each="d:${discounts}">
                                <div class="list-group-item list-group-item-action" style="position: relative;">
                                    <div class="d-flex w-100 justify-content-between">
                                        <h6 class="mb-1" th:text="${d.name}">Voucher</h6>
                                    </div>
                                    <small class="mb-1" th:text="'Description: '+${d.desc}"></small><br>
                                    <small class="mb-1" th:text="'Percent: '+${d.disc}+'%'"></small><br>
                                    <small class="mb-1 me-2" th:text="'Start date: '+${d.startDate}"></small>
                                    <small class="mb-1" th:text="'End date: '+${d.endDate}"></small>

                                    <button type="button" data-bs-dismiss="modal"
                                        class="btn btn-sm btn-secondary position-absolute top-0 end-0 mt-2 me-2 select-d-btn"
                                        th:data-did="${d.id}">Select</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container-fluid px-4">
            <h1 class="mt-4">Store Products</h1>
            <ol class="breadcrumb mb-4 row">
                <li class="col text-start"></li>
                <li class="col text-end">
                    <!-- Button trigger modal -->
                    <button type="button" class="btn btn-secondary" data-bs-toggle="modal" data-bs-target="#myModal">
                        + Add New Product
                    </button>
                </li>
            </ol>
            <!-- The Modal -->
            <div class="modal" id="myModal">
                <div class="modal-dialog">
                    <div class="modal-content">

                        <!-- Modal Header -->
                        <div class="modal-header">
                            <h4 class="modal-title">New Product</h4>
                            <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                        </div>

                        <!-- Modal body -->
                        <div class="modal-body">
                            <div class="container-fluid">
                                <div class="login-form">

                                    <form method="post" th:action="@{/store/product}" th:object="${product}">
                                        <div class="form-group">
                                            <label>Name</label>
                                            <input type="text" class="form-control" placeholder="Name"
                                                th:field="*{name}">
                                        </div>
                                        <p th:if="${#fields.hasErrors('name')}" class="text-danger" th:errors="*{name}">
                                        </p>
                                        <div class="form-group row">
                                            <div class="col">
                                                <label>Category</label>
                                                <div class="input-group mb-1">
                                                    <select class="form-select" id="baseCategory">
                                                        <option selected="selected" value="">
                                                            Choose..</option>
                                                        <option th:each="c : ${categories}"
                                                            th:text="${c.baseCategory.name}"
                                                            th:value="${c.baseCategory.id}"></option>
                                                    </select>
                                                </div>
                                            </div>

                                            <script th:inline="javascript">

                                                $("#baseCategory").change(function () {
                                                    var categories = /*[[${categories}]]*/[];
                                                    var baseCategory = $("#baseCategory").val();
                                                    console.log(baseCategory);
                                                    for (let i = 0; i < categories.length; i++) {
                                                        let category = categories[i];
                                                        if (category.baseCategory.id == baseCategory) {
                                                            console.log(baseCategory);
                                                            $("#subCategory").empty();
                                                            for (let i = 0; i < category.subCategories.length; i++) {
                                                                let c = category.subCategories[i];
                                                                console.log(c.name);
                                                                $("#subCategory").append($('<option>')
                                                                    .text(c.name)
                                                                    .attr('value', c.id));
                                                            }
                                                            break;
                                                        }
                                                    }

                                                })
                                            </script>

                                            <div class="col">
                                                <label>Sub Category</label>
                                                <div class="input-group mb-1">
                                                    <select class="form-select" id="subCategory" th:field="*{category}">

                                                    </select>
                                                </div>
                                            </div>
                                        </div>
                                        <p th:if="${#fields.hasErrors('category')}" class="text-danger"
                                            th:errors="*{category}"></p>

                                        <div class="form-group">
                                            <label>Description</label>
                                            <input type="text" class="form-control" placeholder="Description"
                                                th:field="*{desc}">
                                        </div>

                                        <p th:if="${#fields.hasErrors('desc')}" class="text-danger" th:errors="*{desc}">
                                        </p>
                                        <div class="form-group">
                                            <label>Image URL</label>
                                            <input type="text" class="form-control" placeholder="Image URL"
                                                th:field="*{image}">
                                        </div>
                                        <p th:if="${#fields.hasErrors('image')}" class="text-danger"
                                            th:errors="*{image}">
                                        </p>
                                        <div class="form-group">
                                            <label>SKU</label>
                                            <input type="text" class="form-control" placeholder="SKU" th:field="*{sku}">
                                        </div>
                                        <p th:if="${#fields.hasErrors('sku')}" class="text-danger" th:errors="*{sku}">
                                        </p>

                                        <div class="form-group">
                                            <label>Price</label>
                                            <input type="number" step="0.01" min="0" class="form-control"
                                                placeholder="Price in US $" th:field="*{price}">
                                        </div>
                                        <p th:if="${#fields.hasErrors('price')}" class="text-danger"
                                            th:errors="*{price}"></p>

                                        <div class="form-group">
                                            <label>Quantity</label>
                                            <input type="number" class="form-control" placeholder="Quantity"
                                                th:field="*{quantity}">
                                        </div>
                                        <p th:if="${#fields.hasErrors('quantity')}" class="text-danger"
                                            th:errors="*{quantity}"></p>
                                        <button type="button" class="btn btn-light mt-4"
                                            data-bs-dismiss="modal">Cancel</button>
                                        <button type="submit" class="btn btn-secondary mt-4">Submit</button>
                                    </form>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
            <div class="container card mb-4">
                <div class="row card-header">
                    <div class="col">Available products</div>
                    <div class="col">Required-to-add products</div>
                </div>
                <div class="card-body">
                    <div class="datatable-wrapper datatable-loading no-footer sortable searchable fixed-columns">

                        <div class="datatable-container">
                            <table id="datatablesSimple" class="datatable-table">
                                <thead>
                                    <tr>
                                        <th data-sortable="true" style="width: 25%;"><a href="#"
                                                class="datatable-sorter">Product</a></th>
                                        <th data-sortable="true" style="width: 25%;"><a href="#"
                                                class="datatable-sorter">Category</a></th>
                                        <th data-sortable="true" style="width: 10%;"><a href="#"
                                                class="datatable-sorter">Price(US $)</a></th>
                                        <th data-sortable="true" style="width: 9%;"><a href="#"
                                                class="datatable-sorter">SKU</a></th>
                                        <th data-sortable="true" style="width: 9%;"><a href="#"
                                                class="datatable-sorter">Stock</a></th>
                                        <th data-sortable="true" style="width: 12.531328320802004%;"><a href="#"
                                                class="datatable-sorter">Action</a></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr th:each="p:${products}" th:object="${p}">
                                        <td th:text="*{name}"></td>
                                        <td th:text="*{category.first.name} + ' / '+ *{category.second.name}"></td>
                                        <td th:text="*{price}"></td>
                                        <td th:text="*{sku}"></td>
                                        <td th:text="*{quantity}"></td>
                                        <td>
                                            <a class="text-dark" th:href="@{/product/delete}">Delete</a>
                                            <a class="text-dark" th:href="@{/product/edit}">Edit</a>
                                            <a class="text-dark discount" data-bs-toggle="modal"
                                                data-bs-target="#myModalDiscount" th:data-pid="*{p.id}">Discount</a>
                                        </td>
                                    </tr>

                                </tbody>
                            </table>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </main>
</body>

</html>