<html xmlns:th="http://thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{store-layout}">

<head>
    <title>Store - Delivery</title>
</head>
<section layout:fragment="body">
    <div class="main">
        <div class="container-fluid px-4">
            <h1 class="my-4">Delivery Settings</h1>
            <h5 class="pt-1">Delivery Methods</h5>
            <small>Activate suitable methods for Store</small>
            <div class="form-check form-switch mt-4" th:each="deliveryMethod : ${deliveryMethods}">
                <input class="form-check-input" type="checkbox" th:checked="${deliveryMethod.isActive}" role="switch" th:data-method="${deliveryMethod.methodName}">
                <label class="form-check-label" th:for="${deliveryMethod.methodName}" th:text="${deliveryMethod.methodName}"></label>
            </div>
            
        </div>
    </div>
</section>
</html>